body{
    background: url("../images/fondo-home.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    }
.container {
    background: rgba(255, 255, 255, 0.0)!important;
}

.row {
    margin-top: 3%;
}

h1 {
    font-family: 'Holtwood One SC', serif;

}

h1,h4{
    color: #b39031;
}
h4 {
    font-size: 1.3em;
    font-family: 'Rubik', sans-serif;
    text-align: left;
    margin-left: 20%;
}

.contenido{
  color: #b39031;
  font-size: 1.75;
  text-align: justify;
  margin-top: 15%;
  margin-left: -11%;
  width: 90%;
  padding: 10px;
  border-style: solid;
  border-width: 5px;

}

#modulo{
  margin-left: -18%;

}

.col {
    border-radius: 30%;
}

.col img {
    width: 180px;
    border-radius: 50%;
    opacity: 0.8;
}

.col img:hover {
    cursor: pointer;
    opacity: 1;
    animation-name: rotateImg;
    animation-duration: 2s;

}

nav.navbar {
    background-color: #097c79;
    color: white;
    z-index: 1;
    border-bottom: #b39031 solid 2px !important;
}
nav.navbar {
    background-color: #097c79;
    color: white;
    padding: 0;
}
nav.navbar a {
    color: white;
    opacity: 0.8;
}
nav.navbar ul {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}
nav.navbar a.active {
    opacity: 1;
}
nav.navbar a:hover {
    opacity: 1;
}

.navbar-brand {
    margin-left: 13%;
}
.loginRegister {
    margin-right: 15%;
}
img.logo {
    height: 50px;
    width: auto;
}
img.profile{
    height: 50px;
    width: auto;
    border-radius: 50%;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #097c79;
}


@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(365deg);

    }

}

@media (max-width:600px) {
    .navbar{
        position: relative;
    }

    .col img {
        width: 200px;
        float: none;
        border-radius: 50%;
        opacity: 0.8;
    }
    .faq{

        margin-left: 70%;
    }
    .loginRegister{
        margin-left: 40%;
    }

}
